body {
    margin: 0;
    color: #eee;
    background: linear-gradient(to bottom, #333, #000);
}

form {
    background-color: transparent;
    padding: 20px 0px;
    max-width: 500px;
    margin:auto;
    box-shadow: 0px 0px 55px #fff2;
    margin-top: 50px;
    border-radius: 6px;
}

h1 {
    text-align: center;
    font-weight: 100;
    margin: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
}
.form-input {
    padding: 6px 20px ;
}

input, textarea, select {
    width: 100%;
    padding: 6px 8px ;
    box-sizing: border-box;
    border: 1px solid #666;
    border-radius: 6px;
    box-shadow: 0px 0px 45px #0001;
    background-color: transparent;
    color: #eee;
    margin-top: 5px ;
}

textarea {
    /* moverser solo horizontal y vertical, both - none(ningun lado)*/ 
    min-width: 100%;
    resize: vertical;
    max-height: 200px;
    min-height: 100px;
}

.enviar {
    width: 200px;
    margin: auto;
}

label {
    font-size: 12px;
}

.checkbox {
    width: auto;
    height: 10px;
}

option {
    background-color: #222;
}
fieldset {
    margin: 15px 20px ;
    padding: 10px 8px 20px 8px;
    border: 1px solid #666d;
    border-radius: 5px;
}

legend {
    font-size: 14px;
    padding: 5px;
    color: #777e;
}

a {
    color: #69f;
    text-decoration: none;
}