body {
    margin: 0;
    position: relative;
}

.overlay {
    background: linear-gradient(to top, #fff, transparent);
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.container {
    position: relative;
    padding: 150px;
    margin-top: 0;
    background-color: blue;
}

.box {
    background-color: white;
    width: 200px;
    height: 100px;
    position: fixed;
    right: 20px;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 0 40px #000f;
    z-index: 30;
}

h2 {
    margin: 0;
    font-size: 30px;
}

.box > p {
    margin: 5px 10px;
}

.box-fixed {
    height: 60px;
    width: 200px;
    background-color: #f89;
    position: sticky;
    top: 100px;
    z-index: 40;
    box-sizing: border-box;
}

.second {
    top: 30px;
}

.last {
    top: 170px;
}




