@font-face {
    font-family: "Caveat-Bold";
    src: url(fonts/Caveat-Bold.ttf) format(truetype);
    font-weight: 700;
}

@font-face {
    font-family: "Caveat";
    src: url(fonts/Caveat-Regular.ttf) format(truetype);
    font-weight: 100;
}