body {
    background-color: #333;
    color: #ddd;
    font-family: sans-serif ;

}

details {
    background: transparent;
    border: 2px solid #ddd;
    font-size: 8px;
    padding: 9px;
    color: #aaa;
}


summary {
    background-color: transparent;
    font-size: 10px;
    color: #ddd;

}

ul {
    font-weight: 100;
}